@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");

:root {
  --white: #fff;
  --black: #1c2b2d;
  --blue: #31326f;
  --light-blue: #5288db;
  --color-primary: #9d0191;
  --color-sec: #db6400;
  --grey: #eee;
  --dark-grey: #222831;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: linear-gradient(45deg, #f2f2f2, #eee);
}

p {
  font-size: 1.6rem;
  line-height: 1.5;
}

img {
  width: 100%;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 20px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container-div {
  width: 40rem;
  border: 1px solid var(--grey);
  padding: 1rem;
  text-align: center;
  background-color:var(--light-blue);
  color: var(--white);
}

.container-div > * {
  margin-bottom: 1rem;
}

.counter {
  font-size: 4rem;
  padding: 0 1rem;
  color: var(--white);
}


