@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');


:root {
  --white: #fff;
  --black: #141414;
  --blue: #1C4F9B;
  --light-blue: #5288db;
  --color-primary: #AC3A4E;
  --color-sec: #db6400;
  --grey: #eee;
  --dark-grey: #3D3D3D;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: "Open Sans", sans-serif;
}

p {
  font-size: 1.6rem;
  line-height: 1.5;
}

img {
  width: 100%;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 20px;
}

section {
  background-color: var(--black);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.online {
  background-color: var(--light-blue);
}

section img {
  width: 25%;
  border-radius: 10rem;;
}

section h1 {
  color: var(--white);
  font-size: 3rem;
  font-weight: 600;
}

section p {
  color: var(--white);
  font-size: 2rem;
}
